$primary-background: #ffffff;
$secondary-background: #f5f5f5;
$primary-color: #07360e;

$main-font: 'Montserrat';

$site-width: 1500px;
$site-side-padding: 30px;

$main-nav-height: 75px;
$main-footer-height: 60px;
